html,body { height: 100%; margin: 0px; padding: 0px; }

#control {
  display: inline-block;
  float: right;
	width: 20%;
	padding: 20px 1%;
}


#details {
  display: inline-block;
  float: right;
	width: 20%;
	padding: 20px 1%;
}

#details tr {
	display: block;
	/*border-top: 1px solid #dd2121;*/
}

.svg-container {
    display: inline-block;
    position: relative;
    float: left;
    width: 78%;
    height: 90%;
}

.svg-element {
    border: 1px solid black
}